html {
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

img {
  display: block;
}

a {
  color: $colors-primary;
  text-decoration: none;
}

label {
  display: block;
}
