/**
 * Base font family.
 */
$base-font-family: Roboto, sans-serif;

/**
 * Base font size.
 */
$base-font-size: 14px;

/**
 * Base line height.
 */
$base-line-height: 24px;

/**
 * Font scale ratio.
 */
$font-scale-ratio: 1.2;

$heading-6-font-size: $base-font-size * $font-scale-ratio;
$heading-5-font-size: $heading-6-font-size * $font-scale-ratio;
$heading-4-font-size: $heading-5-font-size * $font-scale-ratio;
$heading-3-font-size: $heading-4-font-size * $font-scale-ratio;
$heading-2-font-size: $heading-3-font-size * $font-scale-ratio;
$heading-1-font-size: $heading-2-font-size * $font-scale-ratio;

$heading-6-line-height: $base-line-height * $font-scale-ratio;
$heading-5-line-height: $heading-6-line-height * $font-scale-ratio;
$heading-4-line-height: $heading-5-line-height * $font-scale-ratio;
$heading-3-line-height: $heading-4-line-height * $font-scale-ratio;
$heading-2-line-height: $heading-3-line-height * $font-scale-ratio;
$heading-1-line-height: $heading-2-line-height * $font-scale-ratio;
