$colors-white: #fff;
$colors-black: #000;
$colors-alternative: rgb(0, 200, 200);
$colors-secondary: rgb(0, 179, 179);
$colors-primary: rgb(23, 110, 153);

/**
 * Duplicate the colors in the map.
 */
$colors: (
  'white': $colors-white,
  'black': $colors-black,
  'alternative': $colors-alternative,
  'secondary': $colors-secondary,
  'primary': $colors-primary
);
