@mixin size($width: null, $height: null, $min-width: null, $max-width: null, $min-height: null, $max-height: null) {
  width: $width;
  min-width: $min-width;
  max-width: $max-width;

  height: $height;
  min-height: $min-height;
  max-height: $max-height;
}
