@mixin background($image: null, $position: null, $size: null, $repeat: null, $origin: null, $clip: null, $attachment: null, $color: null) {
  background-image: $image;
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
  background-origin: $origin;
  background-clip: $clip;
  background-attachment: $attachment;
  background-color: $color;
}
