@mixin typography-common {
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 1rem;
}

@mixin heading-common() {
  @include typography-common();
  font-weight: 300;
}

@mixin heading-1 {
  @include heading-common();
  font-size: $heading-1-font-size;
  line-height: $heading-1-line-height;
}

@mixin heading-2 {
  @include heading-common();
  font-size: $heading-2-font-size;
  line-height: $heading-2-line-height;
}

@mixin heading-3 {
  @include heading-common();
  font-size: $heading-3-font-size;
  line-height: $heading-3-line-height;
}

@mixin heading-4 {
  @include heading-common();
  font-size: $heading-4-font-size;
  line-height: $heading-4-line-height;
}

@mixin heading-5 {
  @include heading-common();
  font-size: $heading-5-font-size;
  line-height: $heading-5-line-height;
}

@mixin heading-6 {
  @include heading-common();
  font-size: $heading-6-font-size;
  line-height: $heading-6-line-height;
}
