.layout-wrap {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}

.layout-wrap--vertical {
  flex-direction: column;
}

.layout-item {
  flex: 0 1 auto;
}

.layout-item--expanded {
  flex-grow: 1;
}

@each $position-name, $position-value in (middle: center, top: flex-start, bottom: flex-end, stretch: stretch) {
  .layout-wrap--#{$position-name} {
    align-items: #{$position-value};
  }

  .layout-item--#{$position-name} {
    align-self: #{$position-value};
  }
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    @each $position-name, $position-value in (middle: center, top: flex-start, bottom: flex-end, stretch: stretch) {
      .layout-wrap--#{$breakpoint-name}-#{$position-name} {
        align-items: #{$position-value};
      }

      .layout-item--#{$breakpoint-name}-#{$position-name} {
        align-self: #{$position-value};
      }
    }
  }
}

@each $position-name, $position-value in (left: flex-start, center: center, right: flex-end, justify: space-between, spaced: space-around) {
  .layout-wrap--#{$position-name} {
    justify-content: #{$position-value};
  }
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    @each $position-name, $position-value in (left: flex-start, center: center, right: flex-end, justify: space-between, spaced: space-around) {
      .layout-wrap--#{$breakpoint-name}-#{$position-name} {
        justify-content: #{$position-value};
      }
    }
  }
}
