.table {
  border-collapse: collapse;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-spacing: 0;

  td {
    border: 1px solid hsl(0, 0, 95%);
    color: rgba(black, 0.66);
    padding-top: $unit * 2 - 1px;
    padding-left: $unit * 4 - 1px;
    padding-right: $unit * 4 - 1px;
    padding-bottom: $unit * 2 - 1px;
    font-feature-settings: 'tnum', 'lnum';
    cursor: default;
  }

  tbody > tr:hover > td {
    color: rgba(black, 1.00);
  }

  th {
    border: 1px solid hsl(0, 0, 95%);
    padding-top: $unit * 2 - 1px;
    padding-left: $unit * 4 - 1px;
    padding-right: $unit * 4 - 1px;
    padding-bottom: $unit * 2 - 1px;
    font-weight: 500;
  }

  &--alternating {
    tbody > tr:nth-of-type(even) {
      background-color: rgba(black, 0.02);
    }
  }

  &--unbreakable {
    th, td {
      white-space: nowrap;
    }
  }
}

.table-row--hoverable {
  &:hover {
    .table-cell {
      background-color: hsl(0, 0, 95%);
    }
  }

  .table-cell {
    cursor: pointer;
  }
}
