.form-input {
  @include padding($top: $unit * 1, $right: $unit * 2);
  @include background($color: white);
  @include size($width: 100%, $min-height: $base-line-height + $unit * 2 + 2px);
  appearance: none;
  border-radius: 3px;
  border-top: 1px solid lighten($colors-black, 85%);
  border-left: 1px solid lighten($colors-black, 85%);
  border-right: 1px solid lighten($colors-black, 85%);
  border-bottom: 1px solid lighten($colors-black, 85%);
  max-width: 100%;
  font-size: $base-font-size;
  line-height: $base-line-height;

  &:focus {
    outline: none;
    border-top: 1px solid lighten($colors-black, 80%);
    border-left: 1px solid lighten($colors-black, 80%);
    border-right: 1px solid lighten($colors-black, 80%);
    border-bottom: 1px solid lighten($colors-black, 80%);

    box-shadow: 0 0 $unit * 2 rgba($colors-secondary, 0.2);
  }

  &::placeholder {
    opacity: 1; color: lighten($colors-black, 66%);
  }

  &--is-invalid {
    @include background($color: rgba(#FF5252, 0.05));
    border-top: 1px solid lighten(rgba(#FF5252, 1.0), 29%);
    border-left: 1px solid lighten(rgba(#FF5252, 1.0), 29%);
    border-right: 1px solid lighten(rgba(#FF5252, 1.0), 29%);
    border-bottom: 1px solid lighten(rgba(#FF5252, 1.0), 29%);
  }
}

.form-input--borderless {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &:focus {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}

.form-input--select {
  @include background($repeat: no-repeat, $size: $unit * 3, $position: right $unit * 2 center, $image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyNSAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxwYXRoIGQ9Ik0yMS41LjVsMyAzLjA1Ny0xMiAxMS45NDNMLjUgMy41NTcgMy41LjVsOSA5IiBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=));
  cursor: pointer;
  padding-top: $unit * 1;
  padding-left: $unit * 2;
  padding-right: $unit * 7;
  padding-bottom: $unit * 1;
  color: rgba(black, 0.66);

  &::-ms-expand {
    display: none;
  }
}

@-moz-document url-prefix() {
  .form-input--select {
    padding-top: $unit * 1 - 0px;
    padding-left: $unit * 2 - 5px;
    padding-right: $unit * 7 - 5px;
    padding-bottom: $unit * 1 - 0px;
    height: 2px + $unit * 2 + $base-line-height;

    &:-moz-focusring {
      color: transparent; text-shadow: 0 0 0 #000000;
    }
  }
}

.form-label {
  font-weight: 500; color: rgba(black, 0.66);
}

.form-error {
  display: none;
  font-weight: 500;
  color: lighten(#FF5252, 5%);

  &--is-visible {
    display: block;
  }
}
