.grid-container {
  @include size($width: 100%, $max-width: $grid-max-width);
  @include padding(null, $grid-gutter / 2);
  @include margin(null, auto);
}

.grid-wrap {
  @include margin(null, -$grid-gutter / 2);
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    @each $position-name, $position-value in (middle: center, top: flex-start, bottom: flex-end, stretch: stretch) {
      .#{$breakpoint-name}-grid-wrap {
        @include margin(null, -$grid-gutter / 2);
      }
    }
  }
}

.grid-item {
  @include padding(null, $grid-gutter / 2);
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    @each $position-name, $position-value in (middle: center, top: flex-start, bottom: flex-end, stretch: stretch) {
      .#{$breakpoint-name}-grid-item {
        @include padding(null, $grid-gutter / 2);
      }
    }
  }
}
