.button {
  @include padding($top: $unit * 1, $right: $unit * 4);
  max-width: 100%;
  border-radius: 3px;
  border-top: 1px solid $colors-secondary;
  border-left: 1px solid $colors-secondary;
  border-right: 1px solid $colors-secondary;
  border-bottom: 1px solid $colors-secondary;
  color: $colors-white;
  background-color: $colors-secondary;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    border-top: 1px solid darken($colors-secondary, 10%);
    border-left: 1px solid darken($colors-secondary, 10%);
    border-right: 1px solid darken($colors-secondary, 10%);
    border-bottom: 1px solid darken($colors-secondary, 10%);
    background-color: darken($colors-secondary, 10%);
  }
}

.button--alternative {
  border-top: 1px solid lighten($colors-alternative, 90%);
  border-left: 1px solid lighten($colors-alternative, 90%);
  border-right: 1px solid lighten($colors-alternative, 90%);
  border-bottom: 1px solid lighten($colors-alternative, 90%);
  color: darken($colors-alternative, 10%);
  background-color: lighten($colors-alternative, 90%);

  &:hover {
    border-top: 1px solid darken(lighten($colors-alternative, 90%), 10%);
    border-left: 1px solid darken(lighten($colors-alternative, 90%), 10%);
    border-right: 1px solid darken(lighten($colors-alternative, 90%), 10%);
    border-bottom: 1px solid darken(lighten($colors-alternative, 90%), 10%);
    background-color: darken(lighten($colors-alternative, 90%), 10%);
  }
}

.button--primary {
  border-top: 1px solid $colors-secondary;
  border-left: 1px solid $colors-secondary;
  border-right: 1px solid $colors-secondary;
  border-bottom: 1px solid $colors-secondary;
  color: $colors-white;
  background-color: $colors-secondary;

  &:hover {
    border-top: 1px solid darken($colors-secondary, 10%);;
    border-left: 1px solid darken($colors-secondary, 10%);;
    border-right: 1px solid darken($colors-secondary, 10%);;
    border-bottom: 1px solid darken($colors-secondary, 10%);;
    background-color: darken($colors-secondary, 10%);
  }
}

.button--secondary, input:checked + .button--radio {
  border-top: 1px solid $colors-alternative;
  border-left: 1px solid $colors-alternative;
  border-right: 1px solid $colors-alternative;
  border-bottom: 1px solid $colors-alternative;
  color: $colors-white;
  background-color: $colors-alternative;

  &:hover {
    border-top: 1px solid darken($colors-alternative, 10%);;
    border-left: 1px solid darken($colors-alternative, 10%);;
    border-right: 1px solid darken($colors-alternative, 10%);;
    border-bottom: 1px solid darken($colors-alternative, 10%);;
    background-color: darken($colors-alternative, 10%);
  }
}

.button--outlined {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.button--expanded {
  @include size($width: 100%);
}
