.media {
  display: flex;
}

.media-list {
  .media {
    border-bottom: 1px solid rgba(black, 0.05);

    &:last-of-type {
      border-bottom: 0px solid rgba(black, 0.05);
    }
  }
}

.media--hover {
  border-left: 2px solid $colors-white;

  &:hover {
    border-left: 2px solid $colors-secondary;
  }
}

.media--no-hover {
  border-left: 2px solid transparent;

  &:hover {
    border-left: 2px solid transparent;
  }
}

.media__side {
  flex: 0 0 auto;
}

.media__main {
  flex: 1 1 auto;
}
