.table-head--sorting {
  @extend %iconmonstr-sort-27; @include background($size: $unit * 4 $unit * 4, $position: right $unit * 3 bottom $unit * 2.5, $repeat: no-repeat); padding-right: $unit * 8; cursor: pointer;
}

.table-head--sorting-asc {
  @extend %iconmonstr-sort-26; @include background($size: $unit * 4 $unit * 4, $position: right $unit * 3 bottom $unit * 2.5, $repeat: no-repeat); padding-right: $unit * 8; cursor: pointer;
}

.table-head--sorting-desc {
  @extend %iconmonstr-sort-24; @include background($size: $unit * 4 $unit * 4, $position: right $unit * 3 bottom $unit * 2.5, $repeat: no-repeat); padding-right: $unit * 8; cursor: pointer;
}
