@each $color-name, $color-value in $colors {
  .foreground-#{$color-name} {
    color: $color-value;

    &.foreground-hover-darken:hover {
      color: darken($color-value, 5%);
    }

    &.foreground-hover-lighten:hover {
      color: lighten($color-value, 5%);
    }
  }
}

@each $color-name, $color-value in $colors {
  .background-#{$color-name} {
    background-color: $color-value;

    &.background-hover-darken:hover {
      background-color: darken($color-value, 5%);
    }

    &.background-hover-lighten:hover {
      background-color: lighten($color-value, 5%);
    }
  }
}
