@for $i from 1 through $grid-columns {
  @for $k from 1 through $grid-columns {
    @if $i <= $k {
      .width-#{$i}-#{$k} {
        width: 100 / $k * $i * 1%;
      }
    }
  }
}

.width-auto {
  width: auto;
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-width: nth($breakpoint, 2);

  @media (min-width: $breakpoint-width) {
    @for $i from 1 through $grid-columns {
      @for $k from 1 through $grid-columns {
        @if $i <= $k {
          .width-#{$breakpoint-name}-#{$i}-#{$k} {
            width: 100 / $k * $i * 1%;
          }
        }
      }
    }

    .width-#{$breakpoint-name}-auto {
      width: auto;
    }
  }
}
