@each $position, $properties in (all: (top, left, right, bottom), vertical: (top, bottom), horizontal: (left, right), top: top, left: left, right: right, bottom: bottom) {
  @for $units from 1 through 12 {
    .padding-#{$position}-#{$units} {
      @each $property in $properties {
        padding-#{$property}: $unit * $units;
      }
    }
  }
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    @each $position, $properties in (all: (top, left, right, bottom), vertical: (top, bottom), horizontal: (left, right), top: top, left: left, right: right, bottom: bottom) {
      @for $units from 1 through 12 {
        .padding-#{$position}-#{$breakpoint-name}-#{$units} {
          @each $property in $properties {
            padding-#{$property}: $unit * $units;
          }
        }
      }
    }
  }
}
