.hidden {
  display: none;
}

@each $display in (flex, block, inline, inline-block) {
  .visible-#{$display} {
    display: #{$display};
  }
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    .hidden-#{$breakpoint-name} {
      display: none;
    }

    @each $display in (flex, block, inline, inline-block) {
      .visible-#{$breakpoint-name}-#{$display} {
        display: #{$display};
      }
    }
  }
}
