@each $position, $properties in (all: (top, left, right, bottom), vertical: (top, bottom), horizontal: (left, right), top: top, left: left, right: right, bottom: bottom) {
  @for $units from 0 through 12 {
    .margin-#{$position}-#{$units} {
      @each $property in $properties {
        margin-#{$property}: $unit * $units;
      }
    }
  }

  .margin-#{$position} {
    @each $property in $properties {
      margin-#{$property}: auto;
    }
  }
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    @each $position, $properties in (all: (top, left, right, bottom), vertical: (top, bottom), horizontal: (left, right), top: top, left: left, right: right, bottom: bottom) {
      @for $units from 0 through 12 {
        .margin-#{$position}-#{$breakpoint-name}-#{$units} {
          @each $property in $properties {
            margin-#{$property}: $unit * $units;
          }
        }
      }

      .margin-#{$position}-#{$breakpoint-name} {
        @each $property in $properties {
          margin-#{$property}: auto;
        }
      }
    }
  }
}
