@for $i from 1 through $grid-columns {
  .order-#{$i} {
    order: $i;
  }
}

@each $breakpoint in $breakpoints {

  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @for $i from 1 through $grid-columns {
    @media (min-width: #{$breakpoint-value}) {
      .order-#{$breakpoint-name}-#{$i} {
        order: $i;
      }
    }
  }
}
