@each $align in (left, right, center, justify) {
  .align-#{$align} {
    text-align: $align;
  }
}

@each $breakpoint in $breakpoints {
  $breakpoint-name: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media (min-width: $breakpoint-value) {
    @each $align in (left, right, center, justify) {
      .align-#{$breakpoint-name}-#{$align} {
        text-align: $align;
      }
    }
  }
}

@each $align in (top, bottom, middle, baseline) {
  .align-#{$align} {
    vertical-align: $align;
  }
}
